# Meson
build/
build-*/

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/

# Editors / IDEs
.idea/
.vscode/
*.swp
*~

# Media / local tests
*.mkv
*.mp4

# Flatpak builder caches (local)
.flatpak-builder/
